body {
    font-family: 'Lato', sans-serif;
    color: $font-secondary;
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 26px;
    color: $font-lite-dark;
    line-height: 40px;
    margin: 0;
}

p {
    font-size: 18px;
    color: $font-secondary;
    line-height: 28px;
    max-width: 800px;
    margin-bottom: 40px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.hero-title {
    font-family: $secondary-font;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-shadow: 3px 3px 4px $font-lite-dark;
}

.section-title {
    font-family: $secondary-font;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-shadow: 3px 3px 4px $font-lite-dark;
}

.section-p {
    margin: 0 auto;
}

.title-span {
    color: $theme-secondary-color;
}

.text-white {
    color: $font-white !important;
}

.small-title {
    font-size: 22px;
    line-height: 42px;
    color: $font-white;
    font-weight: 600;
}


.samll-p {
    font-size: 16px;
    color: $font-white;
}

.title {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.price {
    font-family: $style-font;
    font-size: 22px;
    font-weight: 500;
    color: $theme-secondary-color;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-25 {
    margin-bottom: 25px;
}