body {
  font-family: 'Lato', sans-serif;
  color: #999;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  color: #3e3e3e;
  line-height: 40px;
  margin: 0;
}

p {
  font-size: 18px;
  color: #999;
  line-height: 28px;
  max-width: 800px;
  margin-bottom: 40px;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.section-p {
  margin: 0 auto;
}

.title-span {
  color: #ff0000;
}

.text-white {
  color: #fff !important;
}

.small-title {
  font-size: 32px;
  line-height: 45px;
  color: #fff;
  font-weight: 600;
}

.samll-p {
  font-size: 16px;
  color: #fff;
}

.title {
  text-transform: uppercase;
}

.price {
  font-family: "Russo One", sans-serif;
  font-weight: 500;
  color: #ff0000;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

.btn-custom {
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 7px 30px;
  line-height: 24px;
  outline: none;
  height: 40px;
  display: inline-block;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn-primary-border {
  color: #fff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
}

.btn-primary-border:hover {
  color: #ff0000;
  background-color: #fff;
}

.btn-primary-border:focus, .btn-primary-border:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-white-border {
  color: #ff0000;
  background-color: #fff;
  border: 1px solid #fff;
  transition: all 0.3s ease 0s;
}

.btn-white-border:hover {
  color: #fff;
  background-color: #ff0000;
}

.btn-white-border:focus, .btn-white-border:active {
  outline: none !important;
  box-shadow: none !important;
}

#header .container-fluid,
#header .container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navbar {
  border-top: 5px solid red;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  width: 100px;
}

.navbar .navbar-nav .nav-item {
  padding-right: 18px;
  transition: all 0.3s ease 0s;
}

.navbar .navbar-nav .nav-item:last-child {
  padding-right: 0px;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: red;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/cover/cover-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 50px;
}

.hero-slider {
  padding-top: 15%;
}

.hero-slider-content {
  text-align: left;
}

#about {
  overflow: hidden;
}

#about .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.about-content {
  background-color: #ff0000;
}

.about-content .about-left img {
  width: 100%;
  min-height: 500px;
}

.about-content .about-right {
  padding: 70px 40px 0 40px;
}

#dishes {
  overflow: hidden;
}

.section {
  padding: 120px 0;
}

.section-title-content {
  margin: 0 auto;
}

.featured-item {
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 0 35px 0;
  margin: 8px 8px 30px 8px;
}

.featured-item img {
  vertical-align: middle;
}

.featured-item .title {
  margin-top: -90px;
}

#menu {
  width: 100%;
  height: 120%;
  background-image: url("../images/cover/dishes-menu-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.section-title-content .menus-content {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 50px 0;
  border-radius: 18px;
}

.section-title-content .section-title.white,
.section-title-content .section-p.white {
  color: #fff;
}

.isotop {
  background-color: #fff;
  background-image: url("../../assets/images/cover/menu-btm.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
  height: 120%;
  margin-top: 7%;
  /* ---- button ---- */
  /* ---- .element-item ---- */
}

.isotop .button {
  margin: 0 22px 5px;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  color: #3e3e3e;
  background-color: transparent;
  letter-spacing: 0.4px;
  display: inline-block;
  border: medium none;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.isotop .button:hover {
  color: #ff0000;
}

.isotop .button:active, .isotop .button.is-checked {
  color: #ff0000;
  outline: none;
}

.isotop .button.is-checked {
  color: #ff0000;
  outline: none;
}

.isotop .button:active {
  box-shadow: none;
}

.isotop .isotop-menus {
  padding: 50px 70px;
}

.isotop .element-item {
  color: #3e3e3e;
  padding: 10px 20px;
  margin-bottom: 35px;
  box-sizing: border-box;
  overflow: hidden;
}

.isotop .element-item img {
  padding-top: 6px;
}

.isotop .element-item .menu-content {
  padding-left: 20px;
  text-align: left !important;
}

.isotop .element-item .fixed {
  overflow: hidden;
}

.isotop .element-item .name {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 28px;
  margin-bottom: 4px;
}

.isotop .element-item .symbol {
  font-size: 15px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 8px;
}

.isotop .element-item .number {
  font-family: "Russo One", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ff0000;
  margin: 0;
}
