#footer {
    color: white;
    background-color: black;
    overflow: hidden;
}

.footer_content {

    padding: 120px 0;
    font-family: $secondary-font;



    .footer-single {
        float: left;
        padding: 0 18px 0 0;
        color: $font-white !important;
        margin-bottom: 30px;

        img {
            width: 300px;
        }

        h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 25px;
            padding-left: 12px !important;
            border-left: 5px solid red;
        }

        strong {
            text-transform: capitalize;
        }

        .footer-p {
            color: $font-white !important;
            font-size: 14px;
            margin-bottom: 8px !important;

            a {
                color: $font-white !important;
            }
        }

        form {
            position: relative;
            margin-top: 25px;

            .submit-icon {
                position: absolute;
                right: -10px;
                top: -10px;
                color: white !important;
                border: none !important;
            }

            &:focus {
                outline: 0;
                box-shadow: 0 !important;
            }


        }

        input {
            color: white !important;
            background-color: transparent !important;
            cursor: text;
            margin: 0em;
            font: inherit;
            padding: 10px 10px;
            border-width: 2px !important;
            border-color: $font-white !important;
            border-radius: 6px;
            width: 100%;
        }
    }

}


.footer-botom {
    background-color: $theme-secondary-color;

    p {
        font-weight: 400;
        color: $font-white;
        max-width: none;
        margin-bottom: 8px;


        a {
            color: #fff !important;
            text-decoration: none;
            opacity: .8;

            &:hover {
                text-decoration: underline;
                opacity: 1;
            }
        }
    }

    .made-with p {
        font-size: 16px;
        color: $font-white !important;
    }
}

.section-gap {
    background-color: red;
    padding: 30px 0;
}