#header {

    .container-fluid,
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.navbar {
    border-top: 5px solid $theme-secondary-color;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);

    .navbar-brand {
        width: 100px;
    }

    .navbar-nav {
        .nav-item {
            padding-right: 18px;
            transition: all 0.3s ease 0s;

            &:last-child {
                padding-right: 0px;
            }

            &:hover {
                .nav-link {
                    color: $theme-secondary-color;
                }
            }

            .nav-link {
                font-size: 14px;
                font-weight: 600;
                color: #333;
                text-transform: uppercase;
            }
        }
    }
}