#dishes {
    overflow: hidden;
}

.section {
    padding: 120px 0;

    &-title-content {
        margin: 0 auto;
    }
}

.featured-item {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    padding: 0 0 35px 0;
    margin: 4px 4px 30px 4px;

    img {
        vertical-align: middle;
    }

    .title {
        margin-top: -90px;
    }
}