#dishes {
    overflow: hidden;
}

.section {
    padding: 120px 0;

    &-title-content {
        margin: 0 auto;
    }
}

.featured-item {
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 0 0 35px 0;
    margin: 8px 8px 30px 8px;

    img {
        vertical-align: middle;
    }

    .title {
        margin-top: -90px;
    }
}